body{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
  font-weight: bold;
  margin: 0.5em;
}

.default-cursor{
  cursor: default;
}

 /* unvisited link */
a:link {
  color: white;
  border-color: darkgray;
}
  
/* visited link */
a:visited {
  color: white;
  border-color: darkgray;
}
  
/* mouse over link */
a:hover {
  color: yellow;
  border-color: yellow;
  text-decoration: none;
}
  
/* selected link */
a:active {
  color: white;
  border-color: darkgray;
}

.container-fluid{
  padding-top: 0px;
  padding-bottom: 10px;
}

.bg-1{
  background-color: rgb(44, 44, 44);
  color: whitesmoke;
}

.bg-2{
  background-color: rgb(3, 3, 3);
  color: whitesmoke;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(55, 22, 27);
  color: whitesmoke;
  text-align: center;
}

.row{
  text-align: center;
  vertical-align: middle;
}

.repo-panel {
  background-color: rgb(44, 44, 55);
  padding: 0.1em;
  border: 0.1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.repo-panel:hover {
  border-color: yellow;
  background-color: rgb(100, 114, 60);
}

.repo-info {
  padding: 10px;
  border-color: inherit;
}

.repo-info h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.repo-info a:hover{
  text-decoration: none;
}

.repo-img, .repo-bar {
  max-width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
  margin: 0;
}

.repo-progress-panel {
  margin-top: 10px;
  margin-bottom: 5px;
}

.dropup {
  cursor: pointer
}